<launch>

    <arg name="robot_name"/>
    <arg name="init_pose"/>
    <arg name="my_ns"/>

    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="
        $(arg init_pose) 
        -urdf 
        -param /robot_description 
        -model $(arg robot_name)" />

    <include file="$(find p3dx_control)/launch/control.launch">
        <arg name="my_ns" value="$(arg my_ns)" />
    </include>

</launch>