<launch>

    <!-- BEGIN ROBOT 0-->
    <group ns="robot0">
        <node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="0"/>
            <param name="battery_start" value="27"/>
        </node>
    </group>

    <!-- BEGIN ROBOT 1-->
    <group ns="robot1">
        <node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="1"/>
            <param name="battery_start" value="21"/>
        </node>
    </group>

    <!-- BEGIN ROBOT 2-->
    <group ns="robot2">
        <node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="2"/>
            <param name="battery_start" value="43"/>
        </node>
    </group>

    <!-- BEGIN ROBOT 3-->
    <group ns="robot3">
        <node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="3"/>
            <param name="battery_start" value="76"/>
        </node>
    </group>


    <!-- BEGIN ROBOT 4-->
    <group ns="robot4">
        <node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="4"/>
            <param name="battery_start" value="63"/>
        </node>
    </group>

</launch>