<launch>
    <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
    <arg name="robot_model" default="$(find p3dx_description)/urdf/pioneer3dx.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(arg robot_model)'" />
    <arg name="map_file" default="$(find p3dx_navigation)/maps/alan_warehouse.yaml"/>

    <param name="/use_sim_time" value="true" />

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" value="map"/>
    </node>

    <!-- Load world -->
    <include file="$(find p3dx_gazebo)/launch/alan_warehouse.launch" />

    <!-- BEGIN ROBOT 0-->
    <group ns="robot0">
        <arg name="my_ns" value="robot0" />
        <arg name="robot_name" value="Robot0" />
        <arg name="initial_pose_x" value="-14.5"/>
        <arg name="initial_pose_y" value="15"/>
        <arg name="initial_pose_a" value="-1.570796327"/>

        <param name="tf_prefix" value="$(arg my_ns)_tf" />

        <include file="$(find p3dx_gazebo)/launch/one_robot.launch">
            <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0 -Y $(arg initial_pose_a)" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--include file="$(find p3dx_navigation)/launch/amcl.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
            <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
            <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
            <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include-->

        <include file="$(find p3dx_navigation)/launch/fake_localization.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <include file="$(find p3dx_navigation)/launch/move_base.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="0"/>
            <param name="battery_start" value="27"/>
        </node-->
    </group>

    <!-- BEGIN ROBOT 1-->
    <group ns="robot1">
        <arg name="my_ns" value="robot1" />
        <arg name="robot_name" value="Robot1" />
        <arg name="initial_pose_x" value="-14.5"/>
        <arg name="initial_pose_y" value="-15"/>
        <arg name="initial_pose_a" value="1.570796327"/>

        <param name="tf_prefix" value="$(arg my_ns)_tf" />

        <include file="$(find p3dx_gazebo)/launch/one_robot.launch">
            <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0 -Y $(arg initial_pose_a)" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--include file="$(find p3dx_navigation)/launch/amcl.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
            <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
            <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
            <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include-->

        <include file="$(find p3dx_navigation)/launch/fake_localization.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <include file="$(find p3dx_navigation)/launch/move_base.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="1"/>
            <param name="battery_start" value="21"/>
        </node-->
    </group>

    <!-- BEGIN ROBOT 2-->
    <group ns="robot2">
        <arg name="my_ns" value="robot2" />
        <arg name="robot_name" value="Robot2" />
        <arg name="initial_pose_x" value="7.5"/>
        <arg name="initial_pose_y" value="15"/>
        <arg name="initial_pose_a" value="-1.570796327"/>

        <param name="tf_prefix" value="$(arg my_ns)_tf" />

        <include file="$(find p3dx_gazebo)/launch/one_robot.launch">
            <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0 -Y $(arg initial_pose_a)" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--include file="$(find p3dx_navigation)/launch/amcl.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
            <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
            <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
            <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include-->

        <include file="$(find p3dx_navigation)/launch/fake_localization.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <include file="$(find p3dx_navigation)/launch/move_base.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="2"/>
            <param name="battery_start" value="43"/>
        </node-->
    </group>

    <!-- BEGIN ROBOT 3-->
    <group ns="robot3">
        <arg name="my_ns" value="robot3" />
        <arg name="robot_name" value="Robot3" />
        <arg name="initial_pose_x" value="7.5"/>
        <arg name="initial_pose_y" value="-15"/>
        <arg name="initial_pose_a" value="1.570796327"/>

        <param name="tf_prefix" value="$(arg my_ns)_tf" />

        <include file="$(find p3dx_gazebo)/launch/one_robot.launch">
            <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0 -Y $(arg initial_pose_a)" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--include file="$(find p3dx_navigation)/launch/amcl.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
            <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
            <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
            <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include-->

        <include file="$(find p3dx_navigation)/launch/fake_localization.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <include file="$(find p3dx_navigation)/launch/move_base.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="3"/>
            <param name="battery_start" value="76"/>
        </node-->
    </group>


    <!-- BEGIN ROBOT 4-->
    <group ns="robot4">
        <arg name="my_ns" value="robot4" />
        <arg name="robot_name" value="Robot4" />
        <arg name="initial_pose_x" value="14.5"/>
        <arg name="initial_pose_y" value="15"/>
        <arg name="initial_pose_a" value="-1.570796327"/>

        <param name="tf_prefix" value="$(arg my_ns)_tf" />

        <include file="$(find p3dx_gazebo)/launch/one_robot.launch">
            <arg name="init_pose" value="-x $(arg initial_pose_x) -y $(arg initial_pose_y) -z 0 -Y $(arg initial_pose_a)" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--include file="$(find p3dx_navigation)/launch/amcl.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
            <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
            <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
            <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include-->

        <include file="$(find p3dx_navigation)/launch/fake_localization.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <include file="$(find p3dx_navigation)/launch/move_base.launch">
            <arg name="my_ns" value="$(arg my_ns)" />
        </include>

        <!--node name="system_client" pkg="system_client" type="system_client_node" output="screen">
            <param name="robot_id" value="4"/>
            <param name="battery_start" value="63"/>
        </node-->
    </group>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find p3dx_simulation)/rviz/config.rviz"/>
</launch>